*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Sansita', sans-serif;
} 

/* INDEX */
/* Barra de nav */
.header {
    background-color: black;
}

.logo {
    height: 50px;
    margin-right: 20px;
}

.colorNav{
    color: gold;
    border-radius: 10px;
    transition: all 0.3s;
}
.colorNav:hover {
    border-radius: 5px;
    background-color: gold;
    color: black;
}


/* MAIN */
/* somos */
main {
    background-image: linear-gradient(45deg,rgb(77, 77, 20), gold);
}
.somos{
    display: grid;
    grid-template-columns: 400px auto;
    color: black;
    border-style: double;
    border-color: black;
}
.somos__titulo{
    display: flex;
    justify-content: center;
    padding: 10px;
    border-style: double;
    border-color: gold;
}
.somos__desc{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 20px;

}
.logo__somos {
    width: 400px;
    height: 400px;
    transition: all 0.3s;
}

/* Movimiento del logo */

.logo__somos:hover {
    transform: translate(15px, 10px);
    border-radius: 20px;
    border-style: double;
    border-color: gold;
}
/* Opiniones */

.opGrid {
    display: grid;
    grid-template-rows: repeat(2,auto);
}
.op__titulo{
    padding: 10px;
    display: flex;
    justify-content: center;
}
.opiniones {
    display: flex;
    justify-content: center;
    border-style: dashed;
    border-color: gold;
    flex-wrap: wrap;
    margin: 10px 0;
}
.op__c {
    border-style: solid;
    border-radius: 10px;
    background-color: black;
    color: gold;
    padding: 10px;
    margin: 5px 0;
}
.op__op {
    border-style: solid;
    border-radius: 5px;
    margin: 5px 0;
}

.infoTrabajos{
    padding: 10px;
    margin: 10px;
}

/* Trabajos realizados  */

.trabGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    border-radius: 10px;
}

.trabajos{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


/* Efecto de las tarjetas */

.sombra {
    background-color: black;
    color: white;
    transition: all 0.3s;
    }

.sombra:hover {
    box-shadow: 0 25px 50px -12px rgb(0, 0, 0, 0.4);
    transform: scale(1.05);
}

.imagenT {
    width: 100%;
    height: 100%;
}

.tituloTarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo__trab {
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.titulo2 {
    font-size: 20px;
    font-weight: bold;
    color: black;
}



.imgTrabajo {
    width: 200px; 
    height: 300px;
    padding: 5px 0;
}
.boton {
    background-color: yellow;
    color: black;
    /* border-radius: 5px;
    margin: 5px 0; */

}

/* FOOTER */

.contactos{
    height: 80px;
    background-color: black;
}

/* Animacion de footer */

.efectoFoot{
    color: yellow;
    padding: 5px;
    font-size: 20px;
    transition: all 0.3s;
}
.efectoFoot:hover{
    border-radius: 5px;
    background-color: yellow;
    color: black;
    display: flex;
    justify-content: center;
    width: 90%;
    padding: 5px;
    transform: scale(1.2);
}


/* OPINIONES */
.cuadroOp {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    padding: 5px;
}
.botonOp {
    background-color: beige;
    color: rgb(184, 101, 12);
    padding: 5px;
    border-radius: 5px;
    border-color: black;
}
.op__ti{
    padding: 10px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.descOpinion {
    display: flex;
    justify-content: center;
    padding: 10px;
    }

/* TRABAJOS REALIZADOS */

.trab {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: space-around;
    padding: 20px ;
}

.descTrabajo {
    display: flex;
    justify-content: center;
    padding: 10px;
}

/* SERVICIOS */

.servicios {
    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-content: start;
    align-items: start;
    padding: 20px;
    border:  20px;
    background-position: center;
}
.serv {
    padding: 10px;
    list-style: decimal;
}
table {
    border: black 2px solid;
    padding: 10px;
}
table td {
    padding: 5px;
}
table th {
    padding: 5px;
}
.titulServ {
    display: flex;
    justify-content: center;
}
.tablaServicios {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CONTACTENOS */

.contacto{
    display: grid;
    grid-template-rows: repeat(2, auto);
    row-gap: 5px;
    justify-content: center;
    color: gold;
}
.centradoContacto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactoGrid{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5px;
    justify-items: center;
    align-items: center;
    color: gold;
}
.tituloContacto {
    justify-self: center;
}

.main__contactenos {
    background-image: url(../imagenes/bombilla-fluorescente.webp);
    background-size: cover;
}

.aniContacto {
    transition: all 0.3s;
}

.aniContacto:hover {
    transform: scale(1.2);
    background-color: yellow;
    color: black;
}


/* Media queri */

@media screen and (max-width:910px) {
    
    /* .contactos {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
    } */
    .trab {
        grid-template-columns: repeat(2, 1fr);
    }
    .logo__somos {
        display: none;
    }
    .somos{
        display: grid;
        grid-template-columns: 1fr;
        border-style: double;
        border-color: gold;
    }

}

@media screen and (max-width: 630px) {
    .trabGrid {
        display: grid;
        grid-template-columns: 1fr;
        padding: 20px;
    }
    .trab {
        display: grid;
        grid-template-columns: 1fr;
    }
    .servicios {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

@media screen and (max-width: 480px) {
    .contactos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-evenly;
        height: 100px;
    }
    .servicios {
        background-image: linear-gradient(45deg,rgb(77, 77, 20), gold);
    }
    .tablaServicios {
        align-items: flex-start;
    }
    .trabajos{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    
}

@media screen and (max-width:320px) {
    .titulo2 {
        display: grid;
        padding: 5px;
        font-size: 18px;
        font-weight: bold;
        color: black;
    }
    
}

