@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

body {
  font-family: 'Sansita', sans-serif; }

main {
  background-image: linear-gradient(45deg, #4d4d14, gold); }

.header {
  background-color: black; }

.bot, .botonNav, .colorNav, .colorNav:hover {
  color: black;
  border-radius: 10px; }

.botonNav {
  border-style: solid;
  margin: 5px 0; }

.logo {
  height: 50px;
  margin-right: 20px; }

.colorNav {
  color: gold;
  transition: all 0.3s; }
  .colorNav:hover {
    background-color: gold; }

.somos {
  display: grid;
  grid-template-columns: 400px auto;
  color: black;
  border-style: double;
  border-color: black; }
  .somos__titulo {
    display: flex;
    justify-content: center;
    padding: 20px;
    border-style: double;
    border-color: gold; }
  .somos__desc {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 20px; }
  .somos__logo {
    width: 400px;
    height: 400px;
    transition: all 0.3s; }
    .somos__logo:hover {
      transform: translate(15px, 10px);
      border-radius: 20px;
      border-style: double;
      border-color: gold; }

.op__titulo {
  padding: 10px;
  display: flex;
  justify-content: center; }

.opGrid {
  display: grid;
  grid-template-rows: repeat(2, auto); }
  .opGrid__opiniones {
    display: flex;
    justify-content: center;
    border-style: dashed;
    border-color: gold;
    flex-direction: column;
    align-items: center;
    margin: 10px 0; }
    .opGrid__opiniones-cliente {
      border-style: solid;
      border-radius: 10px;
      background-color: black;
      color: gold;
      padding: 10px;
      margin: 5px 0; }
    .opGrid__opiniones-descrip {
      display: flex;
      justify-content: center;
      padding: 10px; }
    .opGrid__opiniones-calif {
      border-style: solid;
      border-radius: 5px;
      margin: 5px 0; }

.trabGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  border-radius: 10px; }

.trabajos {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

/* Efecto de las tarjetas */
.sombra {
  background-color: black;
  color: white;
  transition: all 0.3s; }
  .sombra:hover {
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.4);
    transform: scale(1.05); }

.imagenT {
  width: 100%;
  height: 100%; }

.tamañoCarousel {
  max-height: 50vh;
  width: 100%;
  max-width: 400px; }

.tituloTarjeta {
  display: flex;
  flex-direction: column;
  align-items: center; }

.titulo__trab {
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding: 0px 30px; }

.boton {
  background-color: yellow;
  color: black; }

.trab {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: space-around;
  padding: 0px 10px; }

/* OPINIONES */
.cuadroOp {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  padding: 5px; }
  .cuadroOp__titulo {
    padding: 10px;
    display: flex;
    justify-content: center;
    font-weight: bold; }
  .cuadroOp__boton {
    background-color: beige;
    color: #b8650c;
    padding: 5px;
    border-radius: 5px;
    border-color: black; }

/* SERVICIOS */
.servicios {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-evenly;
  align-items: start;
  padding: 20px;
  border: 20px;
  background-position: center; }
  .servicios__info {
    padding: 10px;
    list-style: decimal; }

.tablaCostos {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .tablaCostos__titulo {
    display: flex;
    justify-content: center; }

table {
  border: black 2px solid;
  padding: 10px; }
  table td {
    padding: 10px; }
  table th {
    padding: 10px; }

/* CONTACTENOS */
.mainContactenos {
  background-image: url(../imagenes/lamparasNoche.jpg);
  background-size: cover;
  background-position: center; }
  .mainContactenos__contacto {
    display: grid;
    grid-template-rows: repeat(2, auto);
    row-gap: 5px;
    justify-content: center;
    color: gold; }
    .mainContactenos__contacto-centrado {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .mainContactenos__contacto-contactoGrid {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 5px;
      justify-items: center;
      align-items: center;
      color: yellow;
      text-shadow: 4px 3px 4px black; }
    .mainContactenos__contacto-titulo {
      justify-self: center; }
    .mainContactenos__contacto-animacion {
      transition: all 0.3s; }
      .mainContactenos__contacto-animacion:hover {
        transform: scale(1.2);
        background-color: yellow;
        color: black; }

/* Media queri */
@media screen and (max-width: 910px) {
  .trab {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center; }
  .somos__logo {
    display: none; }
  .somos {
    display: grid;
    grid-template-columns: 1fr;
    border-style: double;
    border-color: gold; } }

@media screen and (max-width: 630px) {
  .trabGrid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px; }
  .trab {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center; }
  .servicios {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center; } }

@media screen and (max-width: 480px) {
  .tablaCostos {
    align-items: flex-start; }
  .trabajos {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center; } }

.footer {
  height: 80px;
  background-color: black; }
  .footer__efecto {
    color: yellow;
    padding: 5px;
    font-size: 20px;
    transition: all 0.3s; }
    .footer__efecto:hover {
      border-radius: 5px;
      background-color: yellow;
      color: black;
      display: flex;
      justify-content: center;
      width: 90%;
      padding: 5px;
      transform: scale(1.2); }
