// Estilos del footer con sus animacones

.footer{
    height: 80px;
    background-color: map-get($map: $colores, $key: night);
    &__efecto{
        color: map-get($map: $colores, $key: yell);
        padding: 5px;
        font-size: 20px;
        transition: all 0.3s;
        &:hover{
            border-radius: 5px;
            background-color: map-get($map: $colores, $key: yell);
            color: map-get($map: $colores, $key: night);
            display: flex;
            justify-content: center;
            width: 90%;
            padding: 5px;
            transform: scale(1.2);
        }
    }
}