.header {
    background-color: map-get($map: $colores, $key: night);
}
.bot {
    color: map-get($map: $colores, $key: night);
    border-radius: 10px;
}
.botonNav {
    @extend .bot;
    border-style: solid;
    margin: 5px 0;
}
.logo {
    height: 50px;
    margin-right: 20px;
}

.colorNav{
    @extend .bot;
    color: map-get($map: $colores, $key: gold1);
    transition: all 0.3s;
    &:hover {
        @extend .bot;
        background-color: map-get($map: $colores, $key: gold1);
    }
}
